
#mct-tabs-container { margin-top:20px; margin-bottom:20px; }

.WireTabs li {
  padding: 0 0 0 1em;
  background: none;
}

/* modify page edit in target environments */
#Inputfield_dbMigrateLogChanges .noDisplay { display: none; }
#Inputfield_dbMigrateRuntimeAction .full-width { width: 100%; }

/* Special repeater rows */
.Inputfield_dbMigrateItem .fields-new > label { background-image: linear-gradient(to right, #615a5a, #295f1b 50%) !important; }
.Inputfield_dbMigrateItem .fields-changed > label { background-image: linear-gradient(to right, #62be48, #295f1b 25%) !important; }
.Inputfield_dbMigrateItem .fields-removed > label { background-image: linear-gradient(to right, #295f1b, #433e3e 50%) !important; }
.Inputfield_dbMigrateItem .templates-new > label { background-image: linear-gradient(to right, #615a5a, #845333 50%) !important; }
.Inputfield_dbMigrateItem .templates-changed > label { background-image: linear-gradient(to right, #dc8f62, #845333 25%) !important; }
.Inputfield_dbMigrateItem .templates-removed > label { background-image: linear-gradient(to right, #845333, #433e3e 50%) !important; }
.Inputfield_dbMigrateItem .pages-new > label { background-image: linear-gradient(to right, #615a5a, #0e54d7 50%) !important; }
.Inputfield_dbMigrateItem .pages-changed > label { background-image: linear-gradient(to right, #5e7ab3, #0e54d7 25%) !important; }
.Inputfield_dbMigrateItem .pages-removed > label { background-image: linear-gradient(to right, #0e54d7, #433e3e 50%) !important; }
.Inputfield_dbMigrateItem .has-wand > label .InputfieldRepeaterItemLabel:before { font-family:'FontAwesome'; color: #e0cfe8; content:"\f0d0"; display:inline-block; margin-right:6px; }
.Inputfield_dbMigrateItem .has-arrows > label .InputfieldRepeaterItemLabel:before { font-family:'FontAwesome'; color: #e0cfe8; content:"\f0d0\f160"; display:inline-block; margin-right:6px; }

/* Increase or decrease row height on mouse click */
.migration-table-text {
  max-width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.migration-table-text:hover {
  max-width: 20vw;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

tr:has(.migration-table-text):hover {
  background-color: #dbde9e;
}